@page{margin: 5mm;}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    word-spacing: -0.1rem;
}



h1,
h2,
h3,
h4 {
    font-style: normal;
}

h1 {
    font-weight: 800;
}

h2 {
    font-weight: 500;
}

h3 {
    font-weight: 700;
}

h4 {
    font-weight: 800;
}


a,
a:visited {
    color: var(--main-color);
}


.dateAndEvents{    
    break-inside: avoid;
}

.evenements{
    padding: 20px 0 15px;
    border-bottom: 2px solid var(--main-color);
}



.tag {
    margin-right: 2px;
    margin-bottom: 2px;
    padding: 2px 9px;
    background-color: var(--main-color);
    border-radius: 4px;
    display: inline-block;
    color: var(--lite-bkg);
    text-transform: uppercase;
    font-weight: 700;
}

.time-tag {
    margin-right: 2px;
    margin-bottom: 2px;
    padding: 1px 9px;
    background-color: var(--lite-bkg);
    border-radius: 4px;
    border-color: var(--main-color);
    border: solid 1px;
    display: inline-block;
    color: var(--main-color);
    text-transform: uppercase;
    font-weight: 700;
}


ul, ol {list-style-position: inside;}

#contribution{
    text-align: center;
    margin-top: 50px;
}

#contribution ul {
    list-style-type: none;

}

footer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid var(--main-color);
    text-align: center;
}

#print-button {
    cursor: pointer;
}

#title {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

#filters-container {
    display: flex;
    flex-direction: column;
}

#filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#monthSelect {
    color: teal;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-weight: 700;
    padding: 10px;
    background-color: var(--lite-bkg);
    border: 1px solid var(--main-color);
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.filter {
    font-family: "Barlow Condensed", sans-serif;
    color: var(--main-color);
    font-weight: 400;
    font-size: 14px;
    font-weight: 700;
    padding: 10px;
    background-color: var(--lite-bkg);
    border-radius: 10px;
    border: 1px solid var(--main-color);
    margin: 2px;
}

.selected {
    background-color: var(--main-color);
    color: var(--lite-bkg);
}

/* MEDIA QUERIES --- pour la lecture sur ordinateur, mobile et papier  */
@media only screen and (max-width: 799px) /*HANDHELD*/ {
    :root {
        --main-color: teal;
        --lite-bkg: beige;
    }

    body {
        margin: 10px 20px;
        background-color: var(--lite-bkg);
        color: var(--main-color);
    }

    header {
        margin-bottom: 40px;
    }

    h1 {
        font-size: 60px;
        line-height: 100%;
    }

    #description {
        font-size: 24px;
        line-height: 100%;
    }

    .evenements {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1.5rem;
    }

    .date-header {
    padding: 0 0 10px;
    margin-top: 15px;
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: beige;
    }

    .tag{
        font-size: 1.2rem;
    }

    .time-tag{
        font-size: 1.2rem;
    }

    h2 {
        margin: 3px 0 7px;
        font-size: 32px;
        line-height: 100%;
    }

    h3 {
        font-size: 28px;
        line-height: 100%;
    }

    h4 {
        font-size: 2.2rem;
        line-height: 100%;
    }

    #title {
        display: inline-block;
    }

    #filters-container {
        margin-top: 15px;
    }
}


@media screen and (min-width: 800px) /*DESKTOP*/ {
    :root {
        --main-color: teal;
        --lite-bkg: Beige;
    }

    body {
        margin: 15px 20px;
        background-color: var(--lite-bkg);
        color: var(--main-color);
    }

    header {
        margin-bottom: 50px;
    }

    h1 {
        font-size: 6rem;
        line-height: 100%;
    }

    #description {
        max-width: 1080px;
        font-size: 2.6rem;
        line-height: 100%;
    }

    .evenements {
        display: grid;
        grid-template-columns: repeat(auto-fit, 400px);
        grid-gap: 1.5rem;
    }

    /* .card-title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    } */

    .date-header {
        padding: 0 0 10px;
        margin-top: 15px;
        width: 100%;
        position: sticky;
        top: 0px;
        background-color: beige;
    }

    .tag{
        font-size: 1.2rem;
    }

    .time-tag{
        font-size: 1.2rem;
    }

    h2 {
        margin: 3px 0 7px;
        font-size: 36px;
        line-height: 100%;
    }

    h3 {
        font-size: 28px;
        line-height: 100%;
    }

    h4 {
        font-size: 3rem;
        line-height: 100%;
    }
}



@media print /*PRINT*/ {
    :root {
        --main-color: black;
        --lite-bkg: white;
    }


    body {
        font-size: 13px;
        max-width: 21cm;
    }

    header {
        margin-bottom: 20px;
    }

    h1 {
        font-size: 100px;
        line-height: 90%;
    }

    #description {
        font-size: 40px;
    }

    .evenements {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 3mm;
    }

    .date-header {
        padding: 0;
        margin-top: 10px;
        width: 100%;
    }

    .tag{
        font-size: 1rem;
    }

    .time-tag{
        font-size: 1rem;
    }

    h2 {
        margin: 3px 0 4px;
        font-size: 1.4rem;
        line-height: 100%;
    }

    h3 {
        font-size: 1rem;
        line-height: 100%;
        margin-bottom: 2px;
    }

    h4 {
        font-size: 2rem;
        line-height: 100%;
    }

    #print-button {
        display: none;
    }

    a { 
        text-decoration: none;
    }

    #monthSelect {
        display: none;
    }

    .filter {
        display: none;
    }
}

